body{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #36c281;
    display: grid;
    align-items: center;
}
* {
    box-sizing: border-box;
}

header{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    background-color:#43bb83;
    
   
}
#logo{
    height:200px;
    width: 200px;

}
nav{
    background-color: #ffffff;
    height: 40%;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    border-color: #43bb83;
}
button{
    background-color: #7ee4b1;
    padding: 10px;
   
    border-radius: 20px;
}
button>a{
    color: #fff;
}
main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
    background-color: rgb(255, 255, 255);
   
   
}

footer{
    background-color: #05a359;
    padding: 20px;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
}
a{
    color: #ffffff;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logo-senai{
    height: 60px;
    width: 120px;
}
#logo-lab{
    height: 60px;
    width: 60px;
}
article{
    text-align: center;
    background-color: #43bb83;
    padding: 40px;
    color: #f5f2f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    
}
    img {
        border-radius: 10px;
    max-width: 30%;
    height: auto;
    display: block;
    margin: auto;
}

    form{
        width: 100%;
    max-width: 700px;
    margin: 0 auto; 
        border-radius: 20px;
        align-items: center;
         background-color: #7ee4b1;
         padding: 50px; 
         display: flex;
         flex-direction: column;
         color: #185f07;
         font-weight: bolder;
         gap: 5x;
   }
   #checkbox{
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 20px;
   }
   input{
    width: 300px;
    height: 30px;
    padding: 2px;
    border-radius: 3px;
    border-color: #23b805c7;
   }
   select{
     width: 300px;
   height: 30px;
    padding: 2px;
    border-radius: 3px;
    border-color: #23b805c7;
   }
form>input[type="submit"] {
    background-color: #07552e;
    color: #fff;
    border-radius: 20px;
    text-align: center;
}



